<div style="display: flex;">
<div style="margin-left: 1%; margin-right: 1%;  flex:60%;">
<% if(locals.user){ %> 

<form action="/user/createPost" method="POST">

    <textarea name="post" class="form-control"></textarea>
    <input type="submit" value="post" class="btn">
</form>



<div id="post-List">
    <center>Post by Users</center>

    <ul class="list-group">
        
        <% for(x of postList){ %>
         <li class="list-group-item " >   
             <%= x.content %>  
             <br><small> ..... <%= x.user.name %>  </small> <br>
             
             <div class="comment">
                 <form action="/user/comment" method="post" class="form-inline">
                     <input type="text" name="comment" id="" class="form-control">
                     <input type="hidden" name="postId" value=<%= x._id %> >
                     <input type="submit" value="comment" class="btn">
                 </form>
                 
                 <div class="post-comments" >
                     <ul >
                            <% for(z of x["commentid"]){%> 
                                <li class="list-group-item " >  
                                     <%= z["content"] %> 
                                     ....................
                                    <small>
                                        <%= z["userId"].name %>
                                     </small>
                                </li>
                            <% } %> 
                     </ul>
                 </div>
             </div>
             <br>
             


        </li>
        <% } %>   
    </ul>

</div>


<% } %> 





</div>
<div style="flex: 40%;"> 
    <p>Users Active</p>
    <% for(x of users){ %> 
        <ul>
            <li>
                <%= x %> 
            </li>
        </ul>

        <% } %> 

</div>




</div>